/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .test {
    color: cyan;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .test {
    color: blue;
  }
  /* carousel width is 1300 for desktop */
}

/* // Large devices (desktops, 992px and up) this also apply to ipad */
@media (min-width: 992px) {
  .container {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .test {
    color: red;
  }

  .home-carousel {
    width: 820px;
  }
  /* carousel width is 1650 for desktop */

  .card {
    margin: 20px;
    width: 10rem;
  }
  h5 {
    font-size: 11pt;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .home-carousel {
    width: 1650px;
  }

  #architecture-layout {
    width: 1650px;
  }

  .card {
    margin: 20px;
    width: 18rem;
  }
  h5 {
    font-size: 11pt;
  }
}
